<h1>Search for Movies:</h1>

<form action="/movies" method="GET">
    <label for="titleFilter">Movie Title</label>
    <input type="text" id="titleFilter" name="movieTitle">
    <input type="submit" value="Search">
</form>